@font-face {
font-family:Nilland;
src: url('../fonts/Nilland.ttf');
}


*{

       box-sizing:border-box;
 
}


.header-home{
    margin-top:230px;
    color:#fff;
    text-shadow:3px 3px 3px black;
    text-align:left;
    font-size:40px;
    font-family:Nilland;

}

.btn-package{
     background-color: rgba(0,0,0,0.5);
     border:1px solid #fff;
     color:#fff;
     height:40px;
     font-family:Raleway;
     font-size:13px;
     margin-top:20px;
    
     transition:all 0.5s ease;
}

.btn-package:hover{
    background-color: rgba(15, 168, 237,0.5); 
    transition:all 0.5s ease;
    }


.fondo-letras{
background-color: rgba(15, 168, 237, 0.4); 

}

.capitalize{
        font-size:55px;
        font-family:Nilland;
        font-weight:bold;
} 

 
.nav{
 font-family:raleway;
 font-size:15px;
 
}

.brand-name
{
    text-indent:-5px;
}

.logo{
    float:left;
    padding:5px;
}

.activo{
      background-color: rgba(15, 168, 237, 0.7);
      
}

.info{
    
     background:rgba(0,0,0,0.5);
     height:100px;
     color:white;
     position: absolute;
     z-index: 3;
     bottom: 0;
     width:100%;
 
 
}


.redes-sociales{
  
    padding:30px;
 


}

.facebook{
     margin-left:20px;
}

.youtube{
    margin-left:20px;
}

.twitter{
    margin-left:20px;
}


.redes-sociales img{
     opacity:0.8;
}

.redes-sociales img:hover{
    opacity:1;
}

.informacion{
      
       padding:20px;
       font-size:15px;
       text-align:right;
       font-family:Nilland;
}

.informacion i{
    font-size:19px;
}


#sobre-mi{
    background:#f2f2f2;
    height:auto;
    padding-bottom:50px;
}

.header-section{
     border-bottom: 2px solid rgba(15, 168, 237, 0.7);
     padding:15px;
     text-align:center;
     color:#333;
     font-family:Nilland;
     font-size:25px;
     width:150px;
     margin:auto;
}

.perfil{
      margin-top:80px;
    
}

.perfil img{
    box-shadow:0px 0px 2px black;
    border-radius:50%;
    margin:auto;
}

.descripcion{
    /*background:#f2f2f2;*/
    font-family:Nilland;
    margin-top:20px;
    /*word-break: break-all;*/
    /*box-shadow:0px 0px 1px gray;*/
    word-wrap: break-word;
    padding:20px;
    /*width:700px;*/
    font-size:18px;

  
   

}


.img-separator{
    background:url('../img/develop6.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    height:400px;
}

#diseño-web{
    /*background:#2F93D6;*/
    background:#fff;
    height:600px;
}


















  /*media querys*/



@media screen and (max-width:991px){
    
  .perfil{
        margin-top:80px;

  }

    .descripcion{
        margin-top:55px;
    }

    
}



@media screen and (max-width:767px){
   
   

    .info{
        height:auto;
    }

    .redes-sociales{
        text-align:center;
        padding:5px;
    }

    .informacion{
        text-align:center;
        padding:5px;
        margin-left:15px;
    }
    
    .btn-package{
       font-size:10px;
       height:30px;
    }

   #header{
       background:#222;
   }

   .brand-name{
       display:none;
   }

   .logo{
       margin-left:4px;
       margin-top:5px;
     
   }

   .logo img{
       width:31px;
       height:31px;
   }


 


}

/*media querys for slide*/


/* Large desktops and laptops */
@media (min-width: 1200px) and (max-height:660px){
 .header-home{/*background:green;*/ margin-top:100px;}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
 .header-home{/*background:yellow;*/ margin-top:100px;}

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
 .header-home{/*background:blue;*/ margin-top:70px; font-size:28px;}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
.header-home{/*background:red;*/ margin-top:55px; font-size:24px;}
   .capitalize{font-size:29px;}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
.header-home{/*background:lightcoral;*/  font-size:20px;}
.capitalize{font-size:25px;}


}

