@font-face {
font-family:Nilland;
src: url('../fonts/Nilland.ttf');
}


*{

       box-sizing:border-box;
       animation-duration:0.6s;  
       animation-name:c-fade-in;
}




.header-home{
    margin-top:200px;
    color:#fff;
    text-shadow:3px 3px 3px black;
    text-align:left;
    font-size:40px;
    font-family:Nilland;

}

.btn-package{
     background-color: rgba(0,0,0,0.5);
     border:1px solid #fff;
     color:#fff;
     height:40px;
     font-family:Raleway;
     font-size:13px;
     margin-top:20px;
     width:90px;
     transition:all 0.5s ease;
}

.btn-package:hover{
    background-color: rgba(15, 168, 237,0.5); 
    transition:all 0.5s ease;
    }

.btn-contact{
     background-color: rgba(0,0,0,0.5);
     border:1px solid #fff;
     color:#fff;
     height:40px;
     font-family:Raleway;
     font-size:13px;
     margin-top:20px;
     width:90px;
     transition:all 0.5s ease;
}


.btn-contact:hover{
      background-color: rgba(15, 168, 237,0.5); 
       transition:all 0.5s ease;
}

.fondo-letras{
background-color: rgba(15, 168, 237, 0.4); 

}

.capitalize{
        font-size:55px;
        font-family:Nilland;
        font-weight:bold;
} 

 
.nav{
 font-family:raleway;
 font-size:15px;
 
}

.brand-name
{
    text-indent:-5px;
}

.logo{
    float:left;
    padding:5px;
}

.activo{
 
  
   /* width: 100%  !important;
    height:45px;
    border-bottom:2px solid #00bcd4 ;
    transition:all 0.5s ease !important;*/
    /*height:45px;
    background:#2BC0E5 !important;*/
  /*background:
    */

    /*color:#2F93D6 !important;*/
}




.info{
    
     background:rgba(0, 0, 0, 0.2);
     height:95px;
     color:white;
     position: absolute;
     z-index:3;
     bottom: 0;
     width:100%;
 
 
}

.redes-sociales{
  
    padding:30px;



}

.facebook{
     margin-left:20px;
}

.youtube{
    margin-left:20px;
}

.twitter{
    margin-left:20px;
}


.redes-sociales img{
     opacity:0.8;
}

.redes-sociales img:hover{
    opacity:1;
}

.informacion{
      
       padding-top:15px;
       font-size:15px;
       text-align:right;
       font-family:Nilland;
     
}
.informacion i{
    font-size:19px;
}


#sobre-mi{
   
    background:#f2f2f2;
    height:auto;
    
   

}

.header-section{
 
     font-family:Nilland;
     font-size:25px;
     
}



/*.header-section{
     border-bottom: 2px solid rgba(15, 168, 237, 0.7);
     padding:10px;
     text-align:center;
     color:#333;
     font-family:Nilland;
     font-size:25px;
     width:160px;
     margin:auto;
     position:relative;
     top:50px;

    
   
}*/

/*.perfil{
      margin-top:55px;
    
}

.perfil img{
    box-shadow:0px 0px 1px black;
    border-radius:50%;
    margin:auto;
    animation-name:deslizarIzq;
    animation-duration:1s;
}

.descripcion{
    background:#fff;
    font-family:raleway;
    margin-top:40px;
    box-shadow:0px 0px 1px gray;
    word-wrap: break-word;
    padding:20px;
    margin-left:auto;
    margin-right:auto;
    width:700px;
    font-size:15px;


}*/


.caja-perfil{
    background:#fff;
    width:700px;
    height:500px;
    margin:90px auto;
    padding:15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.perfil{background: url('../img/web.jpg'); background-size:cover;   /*background:lightskyblue;*/height:170px; padding:8px;}


.perfil .titulo{
    margin-left:190px;
    margin-top:-130px;
    color:#fff;
    font-size:26px;
    width:300px;
    font-family:Nilland;
    font-weight:600;
    text-align:center;
    word-wrap: break-word;
    text-shadow:0px 0px 3px black;
    
}

.titulo span{
    font-size:15px;
    text-align:center;
    margin-top:-10px;
    margin-left:-10px;
    word-wrap: break-word;
    text-decoration:wavy;
}

.titulo p{
    color:#2BC0E5;
    font-size:17px;
    text-align:center;
    word-wrap: break-word;
  
}

.descripcion{
 
    font-family:raleway;
    word-wrap: break-word;
    font-size:14px;
    margin-top:20px;
    padding:5px;
 


}





.img-separator{
  background:url('../img/develop3.jpg');
  background-size:cover;
  background-attachment:fixed;
  height:470px;
}

.separator{
    height:100px;
    background:rgba(15, 168, 237, 0.7);
}

.header-section-skill{
     border-bottom: 2px solid rgba(15, 168, 237, 0.7);
     padding:10px;
     text-align:center;
     color:#333;
     font-family:Nilland;
     font-size:25px;
     width:400px;
     margin:auto;
}

.skills-container{
    margin-top:35px;
}

.panel{
    margin-top:20px;
    border: 1px solid #f2f2f2 !important;
    padding:18px;
    font-weight:bold;
    font-family:Arial,  Helvetica, sans-serif;
    transition: 0.5s ease;

    /*
    font-family:nunito;
    transition: 0.5s ease;
    height:185px;
    text-align:center;
    background:#f2f2f2 !important;*/
 
    
}

.panel:hover{
     
     -moz-transform: scale(1.1);
     -webkit-transform: scale(1.1);
     transform: scale(1.1);
     transition: 0.5s ease;
      

    
}

.ir-arriba{
    display:none;
    padding-top:6px;
    padding-left:14px;
    background:#222;
    font-size:17px;
    color:#fff;
    border-radius:50%;
    width:45px;
    height:45px;
    transition:all 0.3s ease;
    position:fixed;
    bottom:20px;
    right:13px;
    z-index:100;
    opacity:0.9;
} 

.ir-arriba:hover{
    cursor:pointer;
    background:#333;
    transition:all 0.3s ease;
    padding-top:3px;
}

#skills{
    height:650px;
    background:#fff;
    
}



.img-content{
    font-size:60px;
    color:#fff;
    font-family:Raleway;
    margin-top:160px;
}

.img-content p{
   font-size:20px;
}

#diseno-web{

    background:#fff;
    height:800px;
}

#portafolio{
    background:lightblue;
     height:800px;
}

#contacto{
     background:lightgreen;
     height:800px;
}



/*Effects*/

@keyframes c-fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

/*.dipper{opacity:0;}


.dipper-animation{
    animation-name:deslizarDer;
    animation-duration:1s;
    opacity:1;
}*/


/*@keyframes deslizarDer {
  from {
 
    -webkit-transform: translateX(110%);
  }
  to {

    -webkit-transform: translateX(0);
  }
}*/



.headroom{

   -webkit-transition: transform .3s ease;
   -moz-transition: transform .3s ease;
   transition: transform .3s ease;

}

/*headroom

.headroom--pinned{

 transform: translateY(0%);  
  
  }



.headroom--unpinned{

transform: translateY(-100%); 


}
  
*/






  /*media querys*/



@media screen and (max-width:991px){
    
/*  .perfil{
        margin-top:80px;

  }

    .descripcion{
        margin-top:55px;
        width:auto;
    }
*/

 
  .elemento i{
      display:none;
  }

  .panel{
       height:auto;
  }  

}



@media screen and (max-width:767px){
   


   .info{
       height:auto;
   }

    .redes-sociales{
        margin-left:-40px;
        padding:15px;
    }

    .informacion{
      
        padding:0;
         margin-right:-10px;
    }
    
    .btn-package{
       font-size:10px;
       height:30px;
    }

      
   #header{
       background:#fff !important;
       box-shadow:0px 0px 3px gray !important;
   }

   .navbar-inverse .navbar-toggle{
       background:#333 !important;
   }

   .navbar-brand{
        color:#333 !important;
   }

   .navbar-inverse .navbar-nav > li > a{
       color:#5C5858 !important;
   }

  

   .brand-name{
       font-size:15px;
       text-indent:-18px;
   }

   .logo{
       margin-left:4px;
       margin-top:5px;
     
   }

   .logo img{
       width:31px;
       height:31px;
   }


    .caja-perfil{
        height:auto;
        width:auto;
    }

.panel{
    width:200px;
    height:auto;
    margin:50px auto;
    transform:none;
}

.panel:hover{
     transform:none;
}



.perfil{height:230px;}
.perfil img[alt='perfil']{
    margin-left:auto; margin-right:auto; width:130px;}

  .perfil .titulo{width:auto; height:auto; margin: auto; font-size:20px;}
   .titulo p{font-size:15px;}



      .header-section-skill{width:200px;}
 
        .elemento i{
            display:initial;
        }

      #skills{height:auto;}
      
      .img-separator{background-attachment:initial; height:auto; padding-bottom:40px;}
      .img-content{ font-size:28px; margin-top:35px;} 
      .img-content p{font-size:14px;}

    .headroom{transition:none;}
    .headroom--pinned{transform:none;}
    .headroom--unpinned{transform:none;}

    .ir-arriba{width:40px; height:40px; padding-left:12.5px; font-size:15px;}

}    



@media screen and (max-width:235px){
   .brand-name{ display:none;}
   .redes-sociales{display:none;}
   .informacion{text-align:center; width:300px; margin-left:-155px;}
   .panel{width:auto;}
   body{overflow-x:hidden;}
}

@media screen and (max-width:270px){
   .redes-sociales{
       padding-top:40px;
   }
}


@media screen and (min-height:565px) and (max-width:980px){
         
     .header-home{ font-size:26px !important;}
      .capitalize{font-size:30px !important;}

}


/*media querys for slide*/


/* Large desktops and laptops */
@media (min-width: 1200px) and (max-height:660px){
 .header-home{/*background:green;*/ margin-top:100px;}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
 .header-home{/*background:yellow;*/ margin-top:80px; font-size:27px;}
   .img-content {margin-top:90px;}

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
 .header-home{ /*background:blue;*/ margin-top:100px; font-size:25px;}
 .capitalize{font-size:30px;}
 #skills{height:auto;}
  .img-content {margin-top:80px;}

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
.header-home{margin-top:105px; font-size:20px;}
   .capitalize{font-size:22px;}
   .btn-package{display:none;}
   .redes-sociales img{width:20px; height:20px;}
   .informacion{font-size:12px;}
   .redes-sociales{width:160px;}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
.header-home{/*background:lightcoral;*/ font-size:16px;}
.capitalize{font-size:26px !important; }
 .btn-package{display:none;}
 .descripcion{font-size:15px;}
 .perfil{height:auto;}



}

