*{
    box-sizing:border-box;

}



#header{
     border-bottom:  1px solid #f3f3f3;
     box-shadow:10px 0px 5px gray;
}

.brand-name
{
    text-indent:-5px;


}

.nav{
 font-family:raleway;
 font-size:15px;
 
}


.logo{
    float:left;
    padding:5px;
}

.navbar-brand{
   color: #333;
 
  
}



.jumbotron {
    background-image: url("../img/banner2.jpg");
    background-color: #17234E;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;

}

 
.banner-info{
    color:#fff;
    margin:55px;
    text-shadow:0px 0px 15px black;
    font-family:Nilland;
  
}



.btn-planes{
    background:transparent;
    color:#fff;
    border:1px solid #fff;
    height:40px;
    width:110px;
    margin-top:30px;
    transition:all 0.5s ease;
    font-family:Raleway;
}

.btn-planes:hover{
    background:rgba(0,0,0,0.4);
    transition:all 0.5s ease;
}

.activo{
      background-color:#333;
      color:deepskyblue !important;
      
}

.header-page {
     font-family:Raleway;
     margin-top:10px;
     font-size:25px;
     color:#222;
     border-bottom:1px solid steelblue;
}













/* media querys */

@media screen and (max-width:767px){
   
   /*.banner img{
       margin-top:100px;
   }*/

   .nav{
       background:#f2f2f2;
   }

    #header{  background:#f2f2f2;}

   .brand-name{
       font-size:15px;
       text-indent:-18px;
   }

   .logo{
       margin-left:4px;
       margin-top:5px;
     
   }

   .logo img{
       width:31px;
       height:31px;
   }
 

}


 

@media screen and (max-width:235px){
   .brand-name{
       display:none;
   }
}